<main class="container my-5">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <h1 class="display-5 mb-4">About Me</h1>
      <div class="post-content">
        <p>こんにちは！このブログの管理人の tkhs-0114 です。</p>
        <p>
          うっすい内容の投稿をするために新しく個人ブログを作成してみました。
        </p>

        <h2>自己紹介的な何か</h2>
        <ul>
          <li>好きなことを書く欄</li>
        </ul>

        <h2>Contact</h2>
        <p>何かあれば、お気軽にご連絡ください。</p>
        <a href="https://github.com/tkhs-0114">GitHub</a>
        <br />
        <a href="https://qiita.com/tkhs-0114">Qiita</a>
      </div>
    </div>
  </div>
</main>
